<h1>Log In to Grumblr</h1>
<%= form_tag('sessions', method: 'post') do %>
	<%= label_tag(:username, "Username:")%><br>
	<%= text_field_tag(:username)%><br>
	<%= label_tag(:password, "Password:")%><br>
	<%= password_field_tag(:password)%><br><br>
	<%= submit_tag "Login"%>
<% end %>
