<h1>User</h1>
<h3>Username: <%= @user.username %></h3>
<ul>
	<li>Location: <%= @user.location %></li>
	<li>Bio: <%= @user.bio %></li>
</ul>
<% if auth_user %>
	<p><%= link_to "Edit Profile", edit_user_path(@user)%></p>
<% else %>
<%end%>

<h3><%= "Grumbles from: #{@user.username}" %></h3>
<ul id="postFeed">
	<% @user.posts.each do |post| %> 
	<li><%= post.body %>
		<% if auth_user %>
			(<%= link_to "X", post_path(post), method: "delete" %>)
		<% else %>
		<% end %>
		| <%= link_to "Comment", post_path(post) %> 
		<% if post.comments %>
			<ul id="postComments">
				<% post.comments.each do |comment| %>
					<li><%= comment.body %>
						<% if current_user.id == comment.user_id %>
						| (<%= link_to "X", post_comment_path(post_id: comment.post.id, id: comment.id), method: "delete" %>)
						<% else %>
						<% end %>
					</li>
				<% end %>
			</ul>
		<%else%>
		<%end%>
	</li>
	<% end %>

</ul>

<% if auth_user %>
	<%= form_for(@post) do |f| %>
	<h3><%= f.label "New Grumble"%></h3> <br />
	<%= f.text_area :body %><br />
	<%= f.submit :post %>
	<% end %>
<% else %>
<%end%>


